.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 0 12px ;
    background-color: #ffffff59;
    font-size: 1.5em;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffffbf;
}