.title-container {
    background-color: #ffffff59;
    margin: 3px 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
}

.details {
    font-size: 0.7em;
    color: grey;
}

.title-container:hover {
    background-color: #ffffffbf;
}

a {
    text-decoration: none;
    color: inherit;
}

.url {
    font-size: 0.8em;
    color: grey;
}

.source {
    font-size: 0.8em;
}