.nav-container {
    background-color: white;
    /* position: fixed; */
    border: 1px solid rgb(217, 217, 217);
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.logo {
    padding: 0 10px 0 0;
    flex-shrink: 0;
    flex-grow: 1;
}


.search-form {
    /* flex: 1 1 0; */
    flex-grow: 5;
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.search {
    padding: 5px 10px;
    border: 1px solid rgb(223, 223, 223);
    width: 100%;
    border-radius: 5px;
}

.search-input {
    border: none;
    width: 100%;
}

.search-input:focus {
    outline: none;
}
